page-login {
	.content-ios{
		background: none;
	}
  background: url('../assets/img/fondo.jpg') no-repeat 50% 50%;
  background-size: 100% 100%;
  text-align: center;
  color: white;

 .logoTitle{
    margin: 10% auto;
    width: 60%;
  }
  
  ion-icon{
      margin-right: 10px;
      vertical-align: text-top;
    }
  }

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 320px),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 320px),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 320px),
    only screen and (        min-device-pixel-ratio: 2)      and (max-width: 320px),
    only screen and (                min-resolution: 192dpi) and (max-width: 320px),
    only screen and (                min-resolution: 2dppx)  and (max-width: 320px) { 

    /* Small screen, retina, stuff to override above media query */

    .formLogin input, .fbButton, .whiteButton{
      height: 40px;
    }

    }


