page-login {
	.content-ios{
		background: none;
	}
  background: url('../assets/img/fondo.jpg') no-repeat 50% 50%;
  background-size: 100% 100%;
  text-align: center;
  color: white;
  
  .logoTitle{
    margin: 10% auto;
    width: 60%;
  }

  // FORMULARIO DE INGRESO
  .formLogin{
    width : 80%;
    margin : auto;

    input{
      width: 100%;
      height: 50px;
      margin: 4% 0;
      background: rgba(255, 255, 255, 0.2);
      border: 0;
      border-radius: 8px;
      text-align: center;
      font-size: 18px;
      color: white;
    }

    input::-webkit-input-placeholder{
      color:white;
    }

    .whiteButton{
      width: 100%;
    }

  }

  // BOTÓN PARA INGRESAR
  .whiteButton{
    background-color: white;
    font-weight: 300;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    color: #ff7129;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin:10px 0;
  }

  .fbButton{
    background-color: #4a61a4;
    font-weight: 400;
    width: 80%;
    height: 50px;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    margin:10px 0;

    ion-icon{
      margin-right: 10px;
      vertical-align: text-top;
    }
  }

  // TEXTOS BLANCOS
  .txtWhite{
    color: white;
    font-size: 16px;
    text-align: center;
  }

  // SEPARADOR CON TEXTO
  .separator{
    width: 80%;
    margin:auto;
    display: flex;
    align-items: center;

    .dotted-max, .dotted{
      border-bottom:1px dotted white;
      width: 16%;
    }
    .dotted-max{
      width: 40%;
    }
  }

  @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 320px),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 320px),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 320px),
    only screen and (        min-device-pixel-ratio: 2)      and (max-width: 320px),
    only screen and (                min-resolution: 192dpi) and (max-width: 320px),
    only screen and (                min-resolution: 2dppx)  and (max-width: 320px) { 

    /* Small screen, retina, stuff to override above media query */

    .formLogin input, .fbButton, .whiteButton{
      height: 40px;
    }

    }

}
